---
import type { Skill } from "@/interfaces/skill.interface";
import { Button } from "./ui/button";
import { Icon } from "./ui/icon";
import { Image } from "./ui/image";
import { Marquee, MarqueeContent } from "./ui/marquee";

type Props = {
  avatar: string;
  name: string;
  role: string;
  isAvailable: boolean;
  email: string;
  skills: Skill[];
  summary: string;
  about: string;
};

const { avatar, isAvailable, name, role, email, skills, summary, about } =
  Astro.props;
---

<section class="space-y-10">
  <div class="flex items-center gap-4">
    <Image src={avatar} alt={`${name} image`} class="rounded-lg size-20" />

    <div class="space-y-0.5">
      <h1 class="font-medium tracking-tight">{name}</h1>
      <p class="text-muted-foreground text-sm">{role}</p>
    </div>
  </div>
  <div
    set:html={summary}
    class="prose-sm text-muted-foreground prose-a:underline"
  />
  {
    isAvailable ? (
      <div class="flex items-center gap-2">
        <div class="size-3 rounded-full bg-emerald-500 animate-pulse" />
        <p class="text-sm font-semibold text-muted-foreground">
          Currently available for new projects.{" "}
          <a
            class="underline cursor-pointer underline-offset-4"
            href={`mailto:${email}`}
          >
            Get in touch
          </a>
        </p>
      </div>
    ) : (
      <div class="flex items-center gap-2">
        <div class="size-3 rounded-full bg-gray-400" />
        <p class="text-sm font-semibold text-muted-foreground">
          Currently unavailable for new projects.
        </p>
      </div>
    )
  }

  {
    about && (
      <>
        <Button
          variant="secondary"
          size="sm"
          class="cursor-pointer"
          id="about-more-toggle"
        >
          Show More
        </Button>

        <div
          set:html={about}
          class="prose-sm text-muted-foreground prose-a:underline hidden"
          id="about-more"
        />
      </>
    )
  }

  <Marquee class="mask-x-from-95%">
    <MarqueeContent class="gap-9">
      {
        skills.map((skill) => (
          <Icon
            name={skill.icon}
            class="size-7 fill-muted-foreground hover:fill-foreground"
          />
        ))
      }
    </MarqueeContent>
  </Marquee>
</section>

<script>
  const aboutMoreButton = document.getElementById(
    "about-more-toggle"
  ) as HTMLButtonElement;
  const aboutMoreContent = document.getElementById(
    "about-more"
  ) as HTMLDivElement;

  function showHideElement() {
    if (
      aboutMoreContent?.style.display === "none" ||
      aboutMoreContent?.style.display === ""
    ) {
      aboutMoreContent.style.display = "block";
      aboutMoreButton.textContent = "Show Less";
    } else {
      aboutMoreContent.style.display = "none";
      aboutMoreButton.textContent = "Show More";
    }
  }

  aboutMoreButton?.addEventListener("click", showHideElement);
</script>
