---
import type { Project } from "@/interfaces/project.interface";
import { Button } from "./ui/button";
import { Icon } from "./ui/icon";
import { formattedDate } from "@/lib/utils";
import { Image } from "./ui/image";

type Props = {
  projects: Project[];
};

const { projects } = Astro.props;
---

<section>
  <h1 class="font-medium tracking-tight">Projects</h1>

  <div class="space-y-12 mt-14">
    {
      projects.map((project) => (
        <div class="flex items-start gap-10">
          <h2 class="min-w-max text-sm font-semibold text-muted-foreground">
            {formattedDate(project.startDate)} -{" "}
            {formattedDate(project.endDate)}
          </h2>
          <div class="prose-sm text-muted-foreground prose-h4:font-semibold">
            {project.liveUrl || project.repoUrl ? (
              <h4 class="flex items-center gap-2 hover:text-foreground">
                <a href={project.liveUrl ?? project.repoUrl}>{project.title}</a>
                <Icon name="arrow-right" class="size-4" />
              </h4>
            ) : (
              <h4 class="hover:text-foreground">{project.title}</h4>
            )}
            <p>{project.description}</p>

            {project.images && project.images.length && (
              <div class="grid grid-cols-4 gap-2">
                {project.images.map((image, index) => (
                  <Image
                    src={image}
                    alt={`${project.title} image ${index}`}
                    class="w-full"
                  />
                ))}
              </div>
            )}
          </div>
        </div>
      ))
    }
  </div>

  <Button variant="outline" href="" class="w-full mt-8 cursor-pointer group"
    >Show More <Icon name="arrow-up-right" /></Button
  >
</section>
