---
import type { Experience } from "@/interfaces/experience.interface";
import { formattedDate } from "@/lib/utils";
import {
  Accordion,
  AccordionContent,
  AccordionItem,
  AccordionTrigger,
} from "./ui/accordion";
import { Badge } from "./ui/badge";
import { Icon } from "./ui/icon";
import { List, ListItem } from "./ui/list";

type Props = {
  experiences: Experience[];
};

const { experiences } = Astro.props;
---

<section>
  <h1 class="font-medium tracking-tight">Experience</h1>

  <div class="mt-14 space-y-2.5">
    {
      experiences.map((experience) => (
        <Accordion class="text-sm">
          <AccordionItem class="border-none">
            <AccordionTrigger class="hover:no-underline">
              <div class="flex flex-col sm:flex-row sm:items-start sm:justify-between w-full text-left gap-2">
                <div class="space-y-1">
                  <h3 class="capitalize">{experience.title}</h3>
                  <div class="text-muted-foreground capitalize">
                    {experience.company}{" "}
                    <span class="font-semibold">({experience.type})</span>
                  </div>
                </div>

                <div class="text-sm text-muted-foreground font-medium whitespace-nowrap">
                  {formattedDate(new Date(experience.startDate))} -{" "}
                  {formattedDate(new Date(experience.endDate))}
                </div>
              </div>
            </AccordionTrigger>

            <AccordionContent>
              <div class="prose-sm text-muted-foreground dark:prose-invert pt-1 pb-2 space-y-6">
                <div>
                  <h4 class="text-sm font-semibold mb-3">Key Achievements</h4>
                  <List class="w-full space-y-2.5">
                    {experience?.archievements.map((archievement) => (
                      <ListItem>
                        <Icon
                          name="check-circle"
                          class="text-primary mt-0.5 h-4 w-4"
                        />
                        <span>{archievement}</span>
                      </ListItem>
                    ))}
                  </List>
                </div>
              </div>
              <div class="flex flex-wrap gap-2">
                {experience.technologies.map((technology) => (
                  <Badge class="inline-flex items-center px-2.5 py-1 rounded-md bg-secondary text-secondary-foreground text-xs font-medium">
                    {technology}
                  </Badge>
                ))}
              </div>
            </AccordionContent>
          </AccordionItem>
        </Accordion>
      ))
    }
  </div>
</section>
